* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: all 0.5s linear;
}

img {
    width: 100%;
}

a{
    text-decoration: none;
    color: #333333;
}

.container__hero {
    background-image: url('../img/bg-hero.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.container__hero-logo {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.logo-capture {
    display: flex;
    padding: 70px 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 468px;
}

.container__hero-desc {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__hero-desc-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 361px;
    gap: 30px;
}

.article-title {
    color: #EB5757;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    /* line-height: 38px; */
}


.article-title--white{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 80px;
}
.helpful-text {
    color: #EB5757;
}

.article-based {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.article-pad {
    padding: 50px;
}


.container__services {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 250px;
    overflow-y: hidden;
    justify-content: center;
    
}


.container__services-title {
    display: flex;
    justify-content: flex-start;
    padding: 0 200px;
}

.related-img {
    width: 322px;
    height: 228px;
}

.container__services-item {
    width: 322px;
    height: 328px;
    box-shadow: 0px 4px 50px rgba(120, 143, 156, 0.25);
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-description {
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}



.article-description{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.container__services-list {
    
    display: flex;
    gap: 65px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 90px;
}



.container__services-list-item-button {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    /* width: 100wh; */
}

.container__services-list-item {
    width: 280px;
    padding: 20px;
}

.container__contact {
    padding: 40px 300px;
    background: #EB5757;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    gap: 20px;
}


.container__contact-form {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container__contact-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container__contact-data-item {
    display: flex;
    gap: 20px;
}

.contactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-field {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 18px;
    padding: 10px;
}

.container__services-about {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    gap: 20px;
}

.container__services-gallery {
    padding: 0 250px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    min-width: 1300px;
    justify-content: center;
    overflow-y: hidden;
}



.container__services-gallery-item:hover {
    animation: touchBlock 1s normal;
}

.h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #4F4F4F;
}

.h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.h3--title{
    color: #4F4F4F;
}

.gallery-img {
    width: 280px;
    height: 280px;
}


.footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.links{
    font-size: 30px;
}


/* Buttons */

.help-button {
    width: 100px;
    height: 50px;
    background: #F2C94C;
    border-radius: 40px;
    border: none;
}

.needs-button {
    color: white;
    width: 110px;
    height: 56px;
    border: none;
    background: linear-gradient(90deg, #EB7598 0%, #FF926F 100%);
    box-shadow: 0px 10px 25px rgba(251, 112, 112, 0.45);
    border-radius: 18px;
}

.needs-button-bot {
    position: absolute;
    bottom: -20px;
    color: white;
    width: 180px;
    height: 56px;
    border: none;
    background: linear-gradient(90deg, #EB7598 0%, #FF926F 100%);
    box-shadow: 0px 10px 25px rgba(251, 112, 112, 0.45);
    border-radius: 18px;
}

.button-contact {
    width: 170px;
    height: 50px;
    background: #EB5757;
    color: white;
    border: 1px white solid;
    border-radius: 18px;
}


.help-button-bot {
    width: 160px;
    height: 50px;
    background: #F2C94C;
    border-radius: 40px;
    border: none;
}

/* Buttons end */

/* Button animations */

.needs-button-bot:hover {}

.needs-button:hover {
    border-radius: 100px;
    width: 180px;
}


.help-button:hover {
   width: 350px;
}

/* Button animations end */

/* Media Query`s */
@media (max-width:768px) {
    .container__services-title {
        padding: 0 10px;
    }
}

@media (max-width:768px) {
    .container__contact-data{
        max-width: 210px;
    }
}
@media (max-width:768px) {
    .links{
        font-size: 15px;
    }
}

@media (max-width:768px) {
    .article-title {
        font-size: 60px;
    }
}

@media (max-width:768px) {
    .footer {
        padding: 10px 10px;
    }
}

@media (max-width:768px) {
    .article-pad {
        padding: 10px 10px;
    }
}

@media (max-width:768px) {
    .container__services-list {
        padding: 0 10px;
        gap: 5px;
    }
}

@media (max-width:768px) {
    .container__contact {
        padding: 10px 10px;
    }
}

@media (max-width:768px) {
    .helpful-text {
        display: none;
    }
}

@media (max-width:768px) {
    .container__services-list-item-button {
        padding: 20px 10px;
    }
}

@media (max-width:768px) {
    .contact-field {
        padding: 0 10px;
        width: 100px;
        height: 40px;
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .article-description {
        color: white;
    }
}

@media (max-width:768px) {
    .button-contact {
        width: 100px;
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .container__services {
        padding: 0 10px;
    }
}

@media (max-width:768px) {
    .container__services-gallery {
        padding: 0 10px;
        min-width: 300px;
    }
}

@media (max-width:768px) {
    .container__services-about {
        padding: 0 10px;
    }
}

/* Media Query`s end */

@keyframes touchBlock {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}